
<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">Users</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
           
          

<div class="row" matchHeight ="card">
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Users</h4>
			</div>
			<div class="card-content">
				<table class="table table-responsive-sm text-center">
					<thead>
						<tr>
							<th>S.N</th>
							<th>Username</th>
							<th>Fullname</th>
                            <th>Phone</th>
                            <th>Location</th>

                            <th>Admin</th>
                                                    
							<th>Image</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of users_list;let i =index">
                               

                            <td>{{i+1}}</td>
                            <a (click)='userDetail(user._id)'>
                            <td>{{user.username}}</td>
                            </a>
                            <td>{{user.fullName}}</td>
                            <td>{{user.phoneNumber}}</td>
                            <td>{{user.location}}</td>
                            <td>{{user.admin}}</td>
                            <td><img src="http://localhost:3000/{{user.image}}" height="100px"></td>






                           
							
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>





        </div>
    </div>

</section>
<!-- Filter Datatable Options Ends -->