<!--Lock Screen Starts-->
<section id="lock-screen">
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body lock-screen-img">
              <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none text-center py-2">
                  <img
                    src="../../assets/img/gallery/lock.png"
                    alt=""
                    class="img-fluid"
                    height="230"
                    width="400"
                  />
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-4 bg-white">


                  <h4 class="card-title mb-3">

                  <div *ngIf="token; else changepasswordpage">
                            Reset Password
                  </div>
                  <ng-template #changepasswordpage>
                            Change Password
                  </ng-template>

                </h4>


                <form class="form-group" #changepasswordForm="ngForm">

                  <input *ngIf="!token"
                    class="form-control mb-3"
                    type="password" placeholder="Old Password" [(ngModel)]="user.old_password" name="old_password" required #old_password="ngModel"
                  />

                  <input
                    class="form-control mb-3"
                    type="password" placeholder="New Password" [(ngModel)]="user.new_password" name="new_password" required minlength="6" #new_password="ngModel"
                  />


                  <input
                    class="form-control mb-3"
                     type="password" placeholder="Confirm Password" [(ngModel)]="user.confirm_password" name="confirm_password" required #confirm_password="ngModel"
                  />

                  <div class="fg-actions d-flex justify-content-between">
                    <div class="login-btn">
                      <button
                        class="btn btn-link text-decoration-none text-primary" (click)='cancel()'
                      >
                        Cancel, Go Back
                      </button>
                    </div>
                    <div class="recover-pass">

                      <button class="btn btn-primary" (click)="submit()"  [disabled]='changepasswordForm.invalid || changepasswordForm.value.new_password !== changepasswordForm.value.confirm_password'>
                        <a
                          class="text-decoration-none text-white">


                  <div *ngIf="token; else changepasswordpage">
                            Reset
                  </div>
                  <ng-template #changepasswordpage>
                            Change
                  </ng-template>
                        </a>
                      </button>
                    </div>
                  </div>
              </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Lock Screen Ends-->
