
<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">Orders</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
           
          

<div class="row" matchHeight ="card">
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Schedules</h4>
			</div>
			<div class="card-content">
				<table class="table table-responsive-sm text-center">
					<thead>
						<tr>
							<th>S.N</th>
							<th>Username</th>
							<th>Status</th>
                            <th>Date</th>
                            <th>Time</th>

                            <th>Item</th>
                            
							<th>No. of Item</th>
                            
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let schedule of schedules_list;let i =index">
                               

                            <td>{{i+1}}</td>
                            <a (click)='scheduleDetail(schedule._id)'>
                            <td>{{schedule.user.username}}</td>
                            </a>

                            <td>{{schedule.status}}</td>
                            
							<td>{{schedule.date}}</td>
							<td>{{schedule.time}}</td>
							<td>{{schedule.item.name}}</td>
							<td>{{schedule.noofitem}}</td>
							<td>{{schedule.location}}</td>
							
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>





        </div>
    </div>

</section>
<!-- Filter Datatable Options Ends -->