<p>
  clients works!
</p>
<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">Filter Option</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
            />
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                  
            </ngx-datatable>
        </div>
    </div>

    <ngx-datatable [rows]="rows" class="bootstrap">
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Status
            </ng-template>
            
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)='scheduleDetail(row._id)'>
                {{row.status}}
                </a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
            Date       </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.date}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Time
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.time}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Location
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.location}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                User
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.user}}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

</section>
<!-- Filter Datatable Options Ends -->