<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="index.html">
				<i class="fab fa-empire"></i>
			</a>
			<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto text-center">
					<li class="nav-item active  mr-3">
						<a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item  mr-3">
						<a class="nav-link scroll" href="#about">About</a>
					</li>
					<li class="nav-item dropdown mr-3">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Others
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item scroll" href="#services">Services</a>
							<a class="dropdown-item scroll" href="#team">Items</a>
							<a class="dropdown-item scroll" href="#gallery">Gallery</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item scroll" href="#pricing">Pricing Plans</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll" href="#contact">Contact</a>
					</li>
				</ul>


				<button type="button" *ngIf="!loggedin" routerLink="/login"
					class="btn btn-info btn-lg-block w3ls-btn px-4 text-uppercase font-weight-bold">
					Login
				</button>



				<button type="button" (click)="isLoggedIn()"
					class="btn btn-info btn-lg-block w3ls-btn px-4 text-uppercase font-weight-bold" data-toggle="modal"
					aria-pressed="false" data-target="#exampleModal">
					order
				</button>

				<button type="button" *ngIf="loggedin" routerLink="/myorders"
					class="btn btn-info btn-lg-block w3ls-btn px-4 text-uppercase font-weight-bold">
					My Orders
				</button>


				<button type="button" *ngIf="loggedin" (click)="logout()"
					class="btn btn-info btn-lg-block w3ls-btn px-4 text-uppercase font-weight-bold">
					Logout
				</button>

			</div>
		</nav>
	</div>
</header>
<!-- //header -->
<!-- banner -->
<div class="banner" id="home">
	<div class="container">
		<div class="banner-text text-center">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider-info">
							<h3 class="text-capitalize">We care for all your valued garments </h3>
							<a class="btn btn-primary  mt-4 text-capitalize scroll" href="#about" role="button">read
								more</a>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<h3 class="text-capitalize">Trust Us, We Save Your Time.</h3>
							<a class="btn btn-primary  mt-4 text-capitalize scroll" href="#about" role="button">read
								more</a>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<h3 class="text-capitalize">we offer the best laundry services</h3>
							<a class="btn btn-primary  mt-4 text-capitalize scroll" href="#about" role="button">read
								more</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->
<!-- about -->
<section class="about-w3ls" id="about">
	<div class="container">
		<div class="jumbotron text-center pt-0">
			<img src="../../../assets/img/images/about.jpg" alt="" class="img-fluid rounded-circle">
			<h1 class="ab-title my-5">We Promise Highest Quality Care</h1>
			<h2 class="lead">Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper
				varius orci. Nulla accumsan
				ac elit in congue.</h2>
			<hr class="my-4">
			<p>rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut consequat sapien ut leo
				cursus rhoncus.
				Nullam dui mi, vulputate ac metus .</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg mt-3 scroll" href="#services" role="button">Learn more</a>
			</p>
		</div>
	</div>
</section>
<!-- //about -->
<!--services-->
<div class="agileits-services py-md-5 py-3" id="services">
	<div class="container">
		<h3 class="w3ls-title text-center text-capitalize pb-md-5 pb-4">Our Services</h3>
		<div class="agileits-services-row row py-md-5 pb-5">

			<div class="col-lg-4 col-md-6 agileits-services-grids" *ngFor="let service of services">
				<img src="http://localhost:3000/{{service.image}}">
				<h4 class="mt-2 mb-3">{{service.name}}</h4>
				<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut</p>
			</div>

		</div>
	</div>
</div>
<!-- //services-->
<!-- stats -->
<section class="agile_stats text-center py-5">
	<div class="container pt-sm-5">
		<div class="stats_agile mb-sm-5 mb-3">
			<h3 class="stat-title text-capitalize pb-md-5 pb-4">let us do your laundry</h3>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="counter pt-5 px-3 pb-3">
					<i class="far fa-smile fa-2x"></i>
					<div class="timer count-title count-number mt-2" data-to="5100" data-speed="1500"></div>
					<p class="count-text text-capitalize">happy customers</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mt-md-0 mt-sm-5 mt-3">
				<div class="counter  pt-5 px-3 pb-3">
					<i class=" fab fa-stack-overflow fa-2x"></i>
					<div class="timer count-title count-number mt-2" data-to="4783" data-speed="1500"></div>
					<p class="count-text text-capitalize">dry clean</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-sm-5 mt-3">
				<div class="counter  pt-5 px-3 pb-3">
					<i class="fas fa-eraser fa-2x"></i>
					<div class="timer count-title count-number mt-2" data-to="2184" data-speed="1500"></div>
					<p class="count-text text-capitalize">ironing</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0  mt-sm-5 mt-3">
				<div class="counter  pt-5 px-3 pb-3">
					<i class="fas fa-exclamation fa-2x"></i>
					<div class="timer count-title count-number mt-2" data-to="1084" data-speed="1084"></div>
					<p class="count-text text-capitalize">stain removal</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //stats -->
<!-- item -->
<section class="wthree-row py-5" id="item">
	<div class="container py-md-5 py-3">
		<div class="py-md-5 py-3 bg-pricemain text-center">
			<h3 class="w3ls-title text-center text-capitalize pb-md-5 pb-4">Items</h3>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6 team-grids" *ngFor="let item of items">
				<div class="item-effect">
					<img src="http://localhost:3000/{{item.image}}" alt="img" class="img-responsive">
				</div>
				<!-- item text -->
				<div class="footerv2-w3ls mt-3">
					<h2>{{item.name}}</h2>
					<h4>Rs. {{item.price}} per Kg</h4>
				</div>
				<!-- //item text -->
			</div>


		</div>
	</div>
</section>
<!-- //item -->
<!-- gallery -->
<div class="gallery  py-md-5 py-3" id="gallery">
	<div class="container">
		<h3 class="w3ls-title text-center text-capitalize py-md-4 py-3">gallery</h3>
		<div class="gallery_gds row pt-md-5 pt-3">
			<div class="col-4 gal-w3l">
				<div class="agileits-img">
					<a href="images/g1.jpg" class="swipebox"
						title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
						<img class="img-responsive img-style row2" src="images/g1.jpg" alt="" />
					</a>
				</div>
			</div>
			<div class="col-4  gal-w3l">
				<div class="agileits-img">
					<a href="images/g2.jpg" class="swipebox"
						title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="../../../assets/img/images/g2.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-4  gal-w3l">
				<div class="agileits-img">
					<a href="images/g3.jpg" class="swipebox"
						title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
						<img src="../../../assets/img/images/g3.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
		</div>
		<div class="gallery_gds row">
			<div class="col-4  gal-w3l">
				<div class="agileits-img">
					<a href="images/g4.jpg" class="swipebox"
						title="Praesent non purus fermentum, eleifend velit non Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis.">
						<img src="../../../assets/img/images/g4.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-4  gal-w3l">
				<div class="agileits-img">
					<a href="images/g5.jpg" class="swipebox"
						title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
						<img src="../../../assets/img/images/g5.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-4  gal-w3l">
				<div class="agileits-img">
					<a href="images/g6.jpg" class="swipebox"
						title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="../../../assets/img/images/g6.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
		</div>
		<div class="row pb-md-5 pb-3">
			<div class="col-4  gal-w3l">
				<div class="agileits-img">
					<a href="images/g7.jpg" class="swipebox"
						title="Praesent non purus fermentum, eleifend velit non Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis.">
						<img src="../../../assets/img/images/g7.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-4  gal-w3l">
				<div class="agileits-img">
					<a href="images/g8.jpg" class="swipebox"
						title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
						<img src="../../../assets/img/images/g8.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
			<div class="col-4  gal-w3l">
				<div class="agileits-img">
					<a href="images/g9.jpg" class="swipebox"
						title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
						<img src="../../../assets/img/images/g9.jpg" alt="" class="img-responsive img-style row2" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //gallery -->
<!-- pricing -->
<section class="wthree-row py-md-5 pt-sm-5" id="pricing">
	<div class="container py-md-5 py-3">
		<h3 class="w3ls-title text-center text-capitalize pb-md-5 pb-4">pricing plans</h3>
		<div class="row pb-5">
			<div class="col-lg-3 col-md-6 text-center  pb-0 pt-3 px-3 agile-pricegrid">
				<div class="bg-price py-sm-3 rounded-top text-center">
					<h4>Wash and Fold</h4>
					<span class="mx-auto my-2"></span>
				</div>
				<div class="p-3">
					<h5 class="pt-2">
						<sup>Rs.</sup>80</h5>
					<span>per kg</span>	
				</div>
				<div class="py-3 px-2">
					<button type="button" class="btn btn-info btn-lg btn-block text-md-center" data-toggle="modal"
						aria-pressed="false" data-target="#exampleModal">Get Started</button>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center pb-0 pt-3 px-3 agile-pricegrid">
				<div class="bg-price py-sm-3 rounded-top text-center">
					<h4>Wash and Iron</h4>
					<span class="mx-auto my-2"></span>
				</div>
				<div class="p-3">
					<h5 class="pt-2">
						<sup>Rs.</sup>130</h5>
					<span>per kg</span>
				</div>
				<div class="py-3 px-2">
					<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false"
						data-target="#exampleModal">Get Started</button>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center p-3  agile-pricegrid">
				<div class="bg-price py-sm-3 rounded-top text-center">
					<h4>Dryclean</h4>
					<span class="mx-auto my-2"></span>
				</div>
				<div class="p-3">
					<h5 class="pt-2">
						<sup>Rs.</sup>120</h5>
					<span>per kg</span>
				</div>
				<div class="py-3 px-2">
					<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false"
						data-target="#exampleModal">Get Started</button>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center pb-0 pt-3 px-3 agile-pricegrid">
				<div class="bg-price py-sm-3 rounded-top text-center">
					<h4>Combo</h4>
					<span class="mx-auto my-2"></span>
				</div>
				<div class="p-3">
					<h5 class="pt-2">
						<sup>Rs.</sup>199</h5>
					<span>per kg</span>
					</div>
				<div class="py-3 px-2">
					<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false"
						data-target="#exampleModal">Get Started</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //pricing -->
<!-- contact -->
<section class="wthree-row py-5 w3-contact" id="contact">
	<div class="container py-md-5">
		<h3 class="w3ls-title text-center text-capitalize pb-md-5 pb-4">contact us</h3>
		<div class="row contact-form py-3">
			<div class="col-lg-6 wthree-form-left">
				<!-- contact form grid -->
				<div class="contact-top1">
					<form action="#" method="get" class="f-color">
						<div class="form-group">
							<label for="contactusername">Name</label>
							<input type="text" class="form-control" id="contactusername" required>
						</div>
						<div class="form-group">
							<label for="contactemail">Email</label>
							<input type="email" class="form-control" id="contactemail" required>
						</div>
						<div class="form-group">
							<label for="contactcomment">Your Message</label>
							<textarea class="form-control" rows="5" id="contactcomment" required></textarea>
						</div>
						<button type="submit" class="btn btn-info btn-block">Submit</button>
					</form>
				</div>
				<!--  //contact form grid ends here -->
			</div>
			<!-- contact details -->
			<!-- contact map grid -->
			<div class="col-lg-6  mt-lg-0 mt-5 map contact-right">
				<iframe class="h-50"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555"
					allowfullscreen></iframe>
				<div class="address mt-3">
					<h5 class="pb-3 text-capitalize">Contact info</h5>
					<address>
						<p class="c-txt">Gwarkhu, Lalitpur</p>
						<p>
							1236547890</p>
						<p>
							<p>
								<a href="mailto:info@example.com">easylaundry@yahoo.com</a>
							</p>
					</address>
				</div>
			</div>
			<!--//contact map grid ends here-->
		</div>
		<!-- //contact details container -->
	</div>
</section>
<!-- //contact -->
<!-- slide -->
<section class="wthree-row py-sm-5 py-3 slide-bg bg-dark">
	<div class="container py-md-5 py-3">
		<div class="py-lg-5 bg-pricemain">
			<h3 class="agile-title text-capitalize text-white">EasyLaundry!!</h3>
			<span class="w3-line"></span>
			<h5 class="agile-title text-capitalize pt-4">trust us, we save your time.</h5>
			<p class="text-light py-sm-4 py-2">Aliquam ac est vel nisl condimentum interdum vel eget enim. Curabitur
				mattis orci sed leo mattis, nec maximus nibh faucibus.
				Mauris et justo vel nibh rhoncus venenatis. Nullal condimentum interdum vel eget enim. Curabitur mattis
				orci sed le.
			</p>
			<a href="#" class="text-uppercase serv_link align-self-center bg-light btn px-4">read more</a>
		</div>
	</div>
</section>
<!--//slide-->
<!-- footer -->
<footer class="py-md-5 pt-5 pb-4">
	<div class="container">
		<!-- footer grid top -->
		<div class="footerv2-w3ls text-center">
			<h4 class="w3ls-title text-capitalize pb-3">contact with us</h4>
			<ul class="social-iconsv2 agileinfo mt-3">
				<li>
					<a href="#">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fab fa-google-plus-g"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fab fa-linkedin-in"></i>
					</a>
				</li>
			</ul>
			<div class="fv3-contact mt-3">
				<span class="fas fa-envelope-open mr-2"></span>
				<p>
					<a href="mailto:example@email.com" class="text-dark">easylaundry@gmail.com</a>
				</p>
			</div>
			<div class="fv3-contact">
				<span class="fas fa-phone-volume mr-2"></span>
				<p>9874563210</p>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->
<!-- order modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-capitalize" id="exampleModalLabel1">order your laundry</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="#" method="post" class="p-3">
					<div class="form-group">
						<label class="mr-2 col-form-label">Pick Up</label>


						<input id="datepicker1" name="date" type="date" class="form-control"
							[(ngModel)]="place_order.date" #date="ngModel" placeholder="xyz@gmail.com" required>
					</div>

					<div class="form-group">
						<label class="mr-2 col-form-label">Time</label>
						<input type="time" id="appt" name="time" class="form-control" [(ngModel)]="place_order.time"
							#time="ngModel" required>
					</div>

					<div class="form-group">
						<label class="mr-2 col-form-label">Location</label>
						<input type="text" class="form-control" name="location" class="form-control"
							[(ngModel)]="place_order.location" #location="ngModel" placeholder="location" required>
					</div>

					<div class="form-group">
						<label for="service" class="mr-2 col-form-label">Service</label>
						<select class="form-control" name="service" [(ngModel)]="place_order.service" required>
							<option value="">Select Service</option>
							<option *ngFor="let service of services" [value]="service.name">{{service.name}}</option>
						</select>
					</div>

					<div class="form-group">
						<label class="mr-2 col-form-label">Item</label>
						<select class="form-control" name="item" [(ngModel)]="place_order.item" required>
							<option value="">Select Item</option>
							<option *ngFor="let item of items" [value]="item._id">{{item.name}}</option>
						</select>
					</div>

					<div class="form-group">
						<label class="mr-2 col-form-label">No. of items</label>

						<input type="text" name="noofitem" class="form-control" [(ngModel)]="place_order.noofitem"
							#noofitem="ngModel" required>
					</div>



					<div class="right-w3l">
						<button (click)="order()">Order</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>


<router-outlet></router-outlet>








<!-- <button type="submit" routerLink='/login'>LOGIN</button> -->