
<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">Services</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
           
          

<div class="row" matchHeight ="card">
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Services</h4>
			</div>
			<div class="card-content">
				<table class="table table-responsive-sm text-center">
					<thead>
						<tr>
							<th>S.N</th>
							<th>Name</th>
							<th>Image</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let service of services_list;let i =index">
                               

                            <td>{{i+1}}</td>
                            <a (click)='serviceDetail(service._id)'>

                            <td>{{service.name}}</td>
                            </a>
							<td>                <img src='http://localhost:3000/{{service.image}}'>
                            </td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>





        </div>
    </div>

</section>
<!-- Filter Datatable Options Ends -->